@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.search-style {
    border: 1px solid;
    padding: 2px;
    border-color: #888888;
}

.ol-content {
    /* domain-page3 */
    font-size: 12px;
    color: #846E95;
    font-family: 'Poppins',
        sans-serif;
}

.bg-color {
    background-color: #EDE5F2;
}


.content-bgcolor {
    /* domain-page3*/
    background-color: #FBF8FF;
    border: none;
}

.alphabet {
    /* domain-page3*/
    min-width: 120px;
    color: #5A3C70;
}

.alphabet-bgcolor {
    /* domain-page3*/
    background-color: #EDE5F2;
    width: 20px;
    height: 25px;
    display: inline-block;
    text-align: center;
    color: #846E95 !important;
}

.alphabet-bgcolor:active {
    /* domain-page3*/
    background-color: #5A3C70;
}

.aphabet-scroll {
    /* domain-page3*/
    max-height: calc(100vh - 290px);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.select-country {
    border: 1px solid;
    padding: 4px;
    border-radius: 2px;
    border-color: #CED4DA;
    position: relative;
    min-width: 300px;
}

.select-country:focus {
    outline: none;
}

.select-country:valid {
    color: #5B3D71 !important;
    font-size: 13px !important;
    font-family: 'Poppins',
        sans-serif;
}

.search-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 4;
    font-size: 12px;
}

.search-div {
    border: 1px solid;
    padding: 2px;
    border-radius: 2px;
    border-color: #CED4DA;
    position: relative;
    min-width: 300px;
}

.search-input::placeholder {
    color: #5B3D71;
    font-size: 13px;
    font-family: 'Poppins',
        sans-serif;
}


.main-content-3 {
    max-height: calc(100vh - 159px) !important;
    overflow-y: auto;
}

.content-bgcolor ol li {
    padding-top: 5px !important;
}

@media (max-width:991px) {

    .main-content-3 {
        max-height: calc(100vh - 233px) !important;
        overflow-y: auto;
    }

    .aphabet-scroll {
        max-height: calc(100vh - 494px) !important;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
}