@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');

.button-head {
    background-color: #5B3D71;
    font-size: 12px;
    font-family: 'Poppins',
        sans-serif;
    border-radius: 5px;
}

.button-head:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.acts {
    border: 1px solid;
    padding: 4px;
    border-radius: 4px;
    border-color: #CED4DA;
    max-width: 150px !important;
}

.acts:valid {
    color: #5B3D71 !important;
    font-size: 13px !important;
    font-family: 'Poppins',
        sans-serif;
}

.search-act {
    border: 1px solid;
    padding: 1px;
    border-radius: 4px;
    border-color: #CED4DA;
    position: relative;
    max-width: 150px;
}

.button-readmore {
    background-color: #5B3D71;
    font-size: 10px;
    font-family: 'Poppins',
        sans-serif;
    border-radius: 35px;
}

.button-readmore:focus {
    box-shadow: none;
}

.button-readmore-white {
    font-size: 10px;
    font-family: 'Poppins',
        sans-serif;
    border-radius: 35px;
    background-color: #EDE5F2;
    color: #5B3D71;
}

.button-readmore-white:focus {
    box-shadow: none;
}

.table_scroll {
    max-height: calc(100vh - 275px) !important;
    overflow-y: auto;
}

.table_scroll_notify {
    max-height: calc(100vh - 275px) !important;
    overflow-y: auto;
}

.welfare_scroll {
    max-height: calc(100vh - 264px) !important;
    overflow-y: auto;
}

.table_scroll_redirect {
    max-height: calc(100vh - 275px);
    overflow-y: auto;
}

.t-head {
    font-size: 14px;
    font-family: 'Poppins',
        sans-serif;
    color: #5B3D71;
}

.table-content {
    font-size: 12px;
    color: #5B3D71;
    font-family: 'Poppins',
        sans-serif;
}

@media (max-width:991px) {
    .table_scroll {
        max-height: calc(100vh - 450px) !important;
        overflow-y: auto;
    }

    .table_scroll_notify {
        max-height: calc(100vh - 338px) !important;
        overflow-y: auto;
    }

    .table_scroll_redirect {
        max-height: calc(100vh - 266px) !important;
        overflow-y: auto;
    }

    .welfare_scroll {
        max-height: calc(100vh - 249px) !important;
        overflow-y: auto;
    }

    body,
    html {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }

}