.right-label {
    background-color: #5B3D71;
    font-family: 'Poppins', sans-serif;
    border-radius: 13px 0 0 13px;
    float: right;
    height: 23px;
    width: 180px;
}

.main-content3 {
    max-height: 500px;
    overflow-y: auto;
}

.side-label {
    font-size: 14px;
    padding-bottom: 0px;
}

.anchor_tag {
    color: #91909E !important;
}

.anchor_tag:hover {
    color: #5B3D71 !important;
}

.main-content-header {
    max-height: calc(100vh - 160px) !important;
    overflow-y: auto;
}

@media (max-width:991px) {
    .main-content-header {
        max-height: calc(100vh - 233px) !important;
        overflow-y: auto;
    }
    body,
    html {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }
}

.view_more {
    background-color: #5B3D71;
    border: none;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}