 .footer_page {
     position: absolute;
     left: 0;
     bottom: 0;
     width: 100%;
     color: #AD9CBA !important;
     background-color: #EDE5F2;
     text-align: center;
 }
 
 .foot_para {
     font-size: 12px;
 }