@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.search {
    border: 3px solid;
    padding: 8px;
    border-radius: 10px;
    border-color: #F7F7F7;
    position: relative;
    margin-left: 250px;
}

.text {
    color: #80808F;
    font-size: 13px;
}

::placeholder {
    color: #80808F;
    font-family: 'Poppins', sans-serif;
}

.search_button {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.search_button:focus {
    outline: none;
}

input:focus {
    outline: none;
}