@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');


.heading {
    font-size: 17px;
    color: #646476;
    font-family: 'Poppins',
        sans-serif;
}

.borde {
    border: 2px solid;
    border-color: #F9F9F9;
    border-radius: 10px;
}

.title {
    font-size: 14px;
    color: #5B3D71;
    font-family: 'Poppins',
        sans-serif;
}

.content {
    font-size: 12px;
    /* color: #B7AAC1; */
    color: #91909E;
    font-family: 'Poppins',
        sans-serif;
}

.main-content2 {
    max-height: calc(100vh - 155px) !important;
    overflow-y: auto;
}

.content,
.heading:not(.open) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    max-height: 4.4rem;
}

.sub-title {
    font-size: 10px;
    opacity: 0.3;
}

.img_labour img {
    object-fit: cover;
    border-radius: 10px !important;
}

.moreless-button {
    font-size: 12px;
    color: #5B3D71;
    font-family: 'Poppins',
        sans-serif;
}

.moreless-button:hover {
    color: #5B3D71;
}

@media (max-width:991px) {

    .main-content2 {
        max-height: calc(100vh - 145px) !important;
        overflow-y: auto;
    }

}