@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
.heading {
    font-size: 17px;
    color: #646476;
    font-family: 'Poppins', sans-serif;
}

.borde {
    border: 2px solid;
    border-color: #F9F9F9;
    border-radius: 10px;
}

.title {
    font-size: 14px;
    color: #5B3D71;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.content {
    font-weight: 300;
    font-size: 12px;
    color: #717080;
    font-family: 'Poppins', sans-serif;
}

.main-content2 {
    max-height: calc(100vh - 110px) !important;
    overflow-y: auto;
}

.content:not(.open) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    max-height: 4.4rem;
}

.sub-title {
    font-size: 10px;
    opacity: 0.3;
}

.img_labour img {
    object-fit: cover;
    border-radius: 10px !important;
}

.moreless-button {
    font-size: 12px;
    color: #5B3D71;
    font-family: 'Poppins', sans-serif;
}

.moreless-button:hover {
    color: #5B3D71;
}

select:focus {
    outline: none !important;
}

.main-content2_redirect {
    max-height: calc(100vh - 159px);
    overflow-y: auto;
}

@media (max-width:991px) {
    .main-content2 {
        max-height: calc(100vh - 145px) !important;
        overflow-y: auto;
    }
    .main-content2_redirect {
        max-height: calc(100vh - 236px);
        overflow-y: auto;
    }
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.03);
    /* IE 9 */
    -webkit-transform: scale(1.03);
    /* Safari 3-8 */
    transform: scale(1.03);
}

.result-ul {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

.result-ul li a {
    color: #5B3D71;
}

.result-ul li a:hover {
    color: #0056b3;
}

.download {
    background-color: #5B3D71;
    border: none;
    color: white;
    padding: 3px 12px;
    cursor: pointer;
    font-size: 20px;
}

.download:hover {
    color: white;
}

.box-size {
    min-width: 150px;
}

.selectize-input>* {
    color: #5B3D71;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.t-head {
    background-color: #5B3D71;
    color: white !important;
}

.scrollmenu {
    overflow: auto;
    white-space: nowrap;
    /* background-color: #F8F9FB; */
}

.scrollmenu li {
    display: inline-block;
}

ul .content a {
    font-size: 1.5em;
}

.recent {
    color: #5B3D71;
    font-family: 'Poppins', sans-serif;
}

.t-0 {
    top: 0;
}

.r-0 {
    right: 0;
}

.bold_font {
    font-weight: bold;
}

.mod-para {
    font-size: 0.9em;
    text-align: center;
}


/*select in notification icon hide*/

.box-size .selectize-input .item {
    padding-right: 25px !important;
}


/* .selectize-control.single .selectize-input:after {
    display: none !important;
} */

@media (max-width:991px) {
    .main-mblview .main-content2 {
        max-height: unset !important;
    }
}