@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

.nav_ul {
    padding: 12px;
    background-color: #F8F9FB;
    width: 100%;
}

.nav_ul li {
    font-size: 14px;
    font-family: 'Poppins',
        sans-serif;
    color: #5B3D71 !important;
}

/* 
@media (min-width:992px) {
    .nav_pill {
        margin-left: 210px !important;
        position: absolute !important;
    }

} */