@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap');

body,
html {
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

/* width */
::-webkit-scrollbar {
    left: 12px;
    width: 7px;
    height: 70px;
    overflow-y: scroll;
    scrollbar-width: thin;

}

/* Track */
::-webkit-scrollbar-track {
    background: white;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}

a {
    text-decoration: none !important;
}

.sidenav {
    height: calc(100% - 85px);
    max-width: 270px;
    position: absolute;
    border-top-right-radius: 60px;
    left: 0;
    background-color: #5B3D71 !important;
    padding-top: 10px;
}

.sidenav-body {
    max-height: calc(100vh - 330px);
    overflow-y: auto;
}

.sidenav-head {
    height: 110px;
}

.foot_class {
    font-size: 15px;
    position: absolute;
    bottom: 0;
    text-align: center !important;
    width: 100%;
    left: 0;
    padding-bottom: 2em;
}

.topic_head {
    text-align: center !important;
    font-size: 20px;
    font-family: 'Poppins',
        sans-serif;
}

.topic_button {
    text-align: center;
    font-family: 'Poppins',
        sans-serif;

}


.btn_topic {
    color: #5A3D70;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins',
        sans-serif;

}

.home {
    font-size: 15px;
    font-family: 'Poppins',
        sans-serif;
}

.menu {
    font-size: 14px;
    font-family: 'Poppins',
        sans-serif;
}

.list {
    font-size: 11px;
    margin-left: 1px;
}

.list2 {
    font-size: 11px;
}

.logo {
    fill: white;
    height: 20px;
}

.menu-toggle {
    display: none;
}

@media (max-width:991px) {
    .menu-toggle {
        display: block;
        color: #5B3D71;
        position: absolute;
        top: 20px;
        left: 15px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .menu-toggle:focus {
        outline: none;
    }

    body,
    html {
        overflow-x: hidden !important;
        overflow-y: hidden !important;
    }


    .sidenav {
        height: calc(100% - 85px);
        max-width: 250px;
        position: absolute;
        z-index: 1;
        border-top-right-radius: 60px;
        background-color: #5B3D71 !important;
        padding-top: 10px;
        left: -100%;
        transition: 0.5s;
    }

    .foot_class {
        padding-bottom: 4em;
    }

    .active {
        left: 0;
    }

    .aphabet-scroll {
        max-height: calc(100vh - 459px) !important;
        overflow-y: auto;
        scroll-behavior: smooth;
    }
}


ul {
    list-style: none;
}

#accordion1 li.panel {
    margin-bottom: 0px;
}



.btn_class {
    font-size: 15px;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

@media (min-width:992px) {
    .main-content {
        margin-left: 270px;
        margin-top: 70px;
    }

}

.modal-title {
    font-size: 14px;
    font-weight: bold;

}

.form-control {
    border-color: #BABABA;
    border-radius: 0 !important;
}

.form-control:focus {
    border-color: #BABABA;
    -webkit-box-shadow: #BABABA;
    box-shadow: none;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #BABABA;
    font-size: 13px;
    font-family: 'Poppins',
        sans-serif;
    /* Firefox */
}

.modal-footer {
    text-align: center;
}

.foot-button {
    width: 125px;
    border-radius: 5px;
    background-color: #5B3D71;
    font-family: 'Poppins',
        sans-serif;
}

select:active {
    border-color: #BABABA;
}